{
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  },
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread"
  ],
  "presets": [
    ["env", {
      "targets": "electron",
      "useBuiltIns": true
    }],
    "react"
  ]
}
