{
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  },
  "plugins": [
    "transform-decorators-legacy",
    "transform-es2015-modules-commonjs"
  ],
  "presets": [
    "es2016",
    "es2017",
    "react",
    "stage-0"
  ]
}
