{
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  },
  "plugins": [
    "syntax-object-rest-spread",
    "transform-class-properties"
  ],
  "presets": [
    ["env", {
      "debug": false,
      "targets": "electron",
      "useBuiltIns": true
    }],
    "react"
  ]
}
