{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "es6": true,
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  "plugins": [
    "react"
  ],
  "rules": {
    // key: 0 = allow, 1 = warn, 2 = error
    "comma-dangle": [0, "always-multiline"],
    "new-cap": [
      2,
      {
        "capIsNewExceptions": [
          "ImmutableList",
          "ImmutableMap",
          "ImmutableOrderedSet",
          "ImmutableRange",
          "ImmutableRecord",
          "ImmutableSet"
        ]
      }
    ],
    "no-alert": [0],
    "no-underscore-dangle": [0],
    "no-use-before-define": [0],
    "quotes": [1, "single", "avoid-escape"]
  }
}
